* {
    padding:0;
    margin:0;
    vertical-align:baseline;
    list-style:none;
    border: 0;
}

a:visited {
    color: white;
}

body {
    background-color: #F0F0F0;
}

.principal-img {
    display: flex;
    justify-content: center;
    margin-top: 44px;
}

.principal-text {
    display: flex;
    justify-content: center;
    font-family: 'Coming Soon', cursive;
    font-size: 30px;
    margin: 0 20px 0 20px;
}

.principal-subtext {
    display: flex;
    justify-content: center;
    font-family: 'Coming Soon', cursive;
    font-size: 16px;
    text-align: center;

}


nav > h1{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 400;
    margin-top: 103px;

}

.recipes-cards{
    display: flex;
    justify-content: center;
}

.card1{
    width: 339px;
    height: 288px;
    border-radius: 20px;
    margin: 55px 70px 0 0;

}

.card1 a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    font-family: 'Coming Soon';
    text-align: center;
    color: white;
    margin-bottom: 20px;
    }


.card1 img{
    width: 100%;
}

.kasinao{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}




